<%= form_for song, url: { action: "index" } do |f| %> <!-- don't have create for artist, instead of this - index -->
  <div class="form-group <%= song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">
    <div class="form-group">
  <label>Name of the song</label>
  <%= f.text_field :song_name, placeholder: "Name", class: "form-control", id: 'song_name' %>
</div>

<div class="form-group">
  <label>Name of the album</label>
  <%= f.text_area :album_name, placeholder: "Write the name of the album", class: "form-control", id: 'album_name' %>
</div>

<div class="form-group">
  <label>The year of the release</label>
  <%= f.text_field :release_date, placeholder: "Write the year of the release", class: "form-control", id: 'release_date' %>
</div>
<div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
</div>
<div id='artist_id'>
  <%= f.hidden_field :artist_id, value: artist_id %> <!-- from show.thml.erb -->
</div>

    <% if song.errors.any? %>
      <% song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
