<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "All artists", artists_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All arists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= artist.name %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", artist, class: "btn btn-default" %>
            <%= link_to "Update", edit_artist_path(artist), class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add new artist", new_artist_path, class: "btn btn-primary" %>
  </div>
</div>
