<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">
    <!-- Photos -->
    <% @artist.photos.each do |photo| %>
    <div class="panel-heading preview">
      <%= image_tag photo.image.thumbnail %>
    </div>
    <% end %>

    <!-- Main Info -->
    <h4>Information</h4>
    <p>Country: <%= @artist.country %></p>
    <p>Official site: <%= link_to @artist.official_site, @artist.official_site %></p>
    <p>Biography: <%= @artist.biography %></p>

    <!-- List of songs -->
    <h4>List of songs</h4>
    <hr>
    <% @artist.songs.each do |song| %>
    <p>Name of the song: <%= song.song_name %></p>
    <p>Album: <%= song.album_name %></p>
    <p>Released: <%= song.release_date %></p>
    <%= link_to "Delete", artist_song_path(@artist.id, song.id), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
    <hr>
    <% end %>

  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
<%= link_to "Add song", new_artist_song_path(@artist.id), class: "btn btn-default" %>
